html,
body {
  background: #fff;
  padding: 0;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  font-size: 0;
}
.hide {
  display: none !important;
}
.upload_box {
  width: 200px;
  height: 150px;
  margin: 0 auto;
  border: 2px dashed rgb(160, 159, 159);
  position: relative;
  text-align: center;
  line-height: 150px;
  margin-bottom: 20px;
}
.upload_box:hover {
  border-color: #00a1d6;
}
.upload_box #uploadFile {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.upload_box img {
  width: 100px;
  height: 100px;
  vertical-align: middle;
}
ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap:wrap;
  margin: 0;
}
li {
  width: 200px;
  margin: 0 33px;
  margin-bottom: 20px;
}
li img {
  display: block;
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  transition: 0.3s ease-in-out;
  opacity: 1;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}
li img:hover {
  opacity: 0.95;
  cursor: pointer;
  transform: scale(1.1);
}
li .pic_url {
  display: block;
  height: 30px;
  width: 200px;
  background-color: #fff;
  cursor: default;
  position: relative;
  margin: 5px 5px 0px 0px;
  border: 2px solid #00a1d6;
  display: inline-block;
  padding: 4px 6px;
  line-height: 20px;
  color: #717171;
  font-size: 12px;
  cursor: default;
  box-shadow: none;
  cursor: pointer;
  border-radius: 5px;
}
li .pic_url:focus {
  outline: 0;
}
li .progress {
  width: 200px;
  height: 30px;
}
.tools {
  padding: 5px 0;
  background: #73c9e5;
  margin-bottom: 20px;
}
.tools span{
  cursor: pointer;
  position: relative;
  color: #fff;
  font-size: 12px;
  display: inline-block;
  padding: 0 10px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  background: #fb7299;
  border-radius: 2px;
  margin-left: 10px;
  user-select: none;
}
/* li a {
  transition: border 0.3s ease 0s;
  display: block;
  line-height: 36px;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-size: 13px;
  font-weight: normal;
  color: rgb(97, 97, 97);
  transition: all 0.3s ease 0s;
}
li a:hover {
  background: #ff5c7c;
  color: #fff;
} */
